<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dataversedevtoolsmcpserver-eaajfcd9hve6f8ep.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a7be6959-b62f-4396-a715-3be6656677c3/resourcegroups/sebadiaz_2025/providers/Microsoft.Web/sites/DataverseDevToolsMcpServer</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>dataversedevtoolsmcpserver-eaajfcd9hve6f8ep.scm.eastus-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>DataverseDevToolsMcpServer</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>DataverseDevToolsMcpServer</WebJobName>
  </PropertyGroup>
</Project>